.home {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 20vh;
  background-color: #fff;
  z-index: 1;
}

.random-routes {
  height: 100vh;
  margin: auto;
  overflow-y: auto;
}
.random-routes::-webkit-scrollbar {
  display: none;
}

div {
  box-sizing: border-box;
}

.search-box {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.symbol-button,
.live-rates-button,
.historical-rates-button,
.convert-button,
.timeframe-button,
.change-query-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.symbol-button:hover,
.live-rates-button:hover,
.historical-rates-button:hover,
.convert-button:hover,
.timeframe-button:hover,
.change-query-button:hover {
  background-color: #3e8143;
}

.random-routes {
  width: 80%;
  height: 100vh;
  margin: auto;
}

/* Responsive styles */
/* Responsive styles */
@media (max-width: 768px) {
  .home {
    height: auto;
    flex-direction: column;
    margin-top: 30px;
  }

  .button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
  }

  .button-group button {
    width: 100%;
  }

.random-routes{
  margin-top: 80px;
}
  .random-routes > div {
    width: 100%; /* Adjust the width based on your design preferences */
  }
}
